{% extends 'base.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Completed</title>
</head>
<body>
    {% if not g.user %}
    {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-success">{{ message }}</div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
    {% else %}
    <form action="">
    <h2 class="completed-username">{{g.user.username}}'s Movie Watchlist</h2>
    {% for movie_data in completed %}
    <div class="completed-container">
        {% if movie_data['poster_path'] %}
            <div class="movie-info-container">
                <div class="movie-info-poster">
                    {% set poster = 'https://media.themoviedb.org/t/p/w220_and_h330_face' + movie_data['poster_path'] %}
                    <img src="{{ poster }}" alt="{{ movie_data['title'] }}'s poster">
                </div>
                <div class="movie-info">
                    <div class="movie-info-title">
                        <h1>{{ movie_data['title'] }}</h1>
                    </div>
                    <div class="movie-info-genre">
                        {% for genre in movie_data['genres'] %}
                            <span>{{ genre['name'] }}</span>
                        {% endfor %}
                    </div>
                    <div class="movie-info-vote">
                        <span>&#9733 {{ movie_data['vote_average'] }}</span> &#x2022
                        <span>{{ movie_data['runtime'] }} min</span> &#x2022
                        <span>{{ movie_data['original_language'] }}</span>
                    </div>
                    <div class="movie-info-overview">
                        <p>{{ movie_data['overview'] }}</p>
                    </div>
                <button class="btn-hover completed-btn" formaction="/delete/{{movie_data['id']}}" formmethod="POST">Remove</button>
                </div>
            </div>
        {% endif %}
        {% endfor %}
    </form>
    </div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="app.js"></script>
</html>
{% endif %}
{% endblock %}

