{% extends 'base.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link rel="stylesheet"
        href="https://unpkg.com/bootstrap/dist/css/bootstrap.css">
  <script src="https://unpkg.com/jquery"></script>
  <script src="https://unpkg.com/popper"></script>
  <script src="https://unpkg.com/bootstrap"></script>
</head>
<body>
    <div class="row justify-content-md-center">
        <div class="col-md-7 col-lg-5">
            <h2 class="join-message">Join My Media List!</h2>
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-success">{{ message }}</div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            <form method="POST" id="user_form">
                {{ form.hidden_tag() }}
                {% for field in form if field.widget.input_type != 'hidden' %}
                {% for error in field.errors %}
                <span class="text-danger">{{ error }}</span>
                {% endfor %}
                {{ field(placeholder=field.label.text, class="form-control") }}
                {% endfor %}
    
                <button class="btn btn-primary btn-lg btn-block">Sign Up</button>
                <!-- <a href="/login" class="btn btn-primary btn-lg btn-block">Log In</a> -->
            </form>
        </div>
    </div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="app.js"></script>
</html>
{% endblock %}
